<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <main class="container">
    <% include ../static/partials/navbar.ejs %>

    <h1>Topics</h1>

    <ul class="list-group">
      <!-- #1 -->
      <% topics.forEach((topic) => { %>
      <!-- #2 -->
      <li class="list-group-item m-2">
        <a href="/topics/<%= topic.id %>"> <%= topic.title %> </a>
      </li>
      <% }) %>
    </ul>
    <form style="display:initial" action="/topics/new">
      <button type="submit" action="/topics/new" class="btn btn-primary">New Topic</button>
    </form>

  </main>
</body>

</html>